html, body, .block {
  height: 100%;
}
body {
	color: #444;
	font-size: 16px;
}
a {
	color: #009688;
}
blockquote {
	border-left: 5px solid #000;
	color: #000;
	font-size: 125%;
	font-weight: 400;
	margin: 20px 0;
	padding-left: 1.5rem;
}
.text-center {
	text-align: center;
}
nav {
	background: white;
	box-shadow: none;
	height: 0;
}
nav i {
	padding-left: 5%;
	margin: 0;
}
#intro-main {
	background: url("../../static/img/rainbowtriangles.jpg");
  background-size: cover;
}
main {
	padding-left: 250px;
	background: url("../../static/img/bg.png") repeat;
}
ul.side-nav {
	width: 250px;
}
ul.side-nav li {
	padding-top: 0;
}
ul.side-nav.fixed a {
	box-sizing: content-box;
	color: #444;
	display: block;
	line-height: 100%;
	padding: 10px 10px 0 10px;
	align-items: center;
}
ul.table-of-contents li.logo a.active,
ul.table-of-contents li.logo a:hover {
	border: none;
	font-weight: 200;
}
ul.side-nav.fixed li.logo {
	background-color: #fafafa;
	border-bottom: 1px solid #ddd;
	box-sizing: content-box;
	min-height: 90px;
	padding: 10% 10% 0 10%;
}
ul.side-nav.fixed li.logo a {
	font-weight: 200;
	line-height: 100%;
}
ul.table-of-contents li:not(.logo) a.active,
ul.table-of-contents li:not(.logo) a:hover {
	background-color: #fafafa;
	border-left: 10px solid;
}
ul.side-nav.fixed.table-of-contents li:not(.logo) a span,
ul#slide-out li:not(.logo) a span {
	color: #333 !important;
}
li.logo span {
	display: block;
}
.navlink {
	color: #000;
	padding: 7%;
	display: block;
}
.liz-logo {
	font-weight: 400;
	font-size: 2em;
	line-height: 100%;
	color: #000;
}
.liz-blue-text {
	color: #309ccd;
}
.liz-blue {
	background-color: #309ccd;
}
.container {
	width: 95%;
}
h2 {
  font-size: 60px;
  margin: 0px 0 0;
  padding-top: 0;
}
h3 {
	font-weight: 200;
	margin-bottom: 60px;
	margin-top: 0;
	padding: 30px 40px;
	text-transform: uppercase;
}
h4 {
  font-size: 40px;
}

.section {
	padding-bottom: 30px;
	padding-top: 0;
}
.full-height {
	height: 100vh;
}
.name-title {
	display: none;
}
#intro.section {
	background: url(../../static/img/liz-portrait-1.png) no-repeat center left/contain;
	position: relative;
}
#intro.section .container {
	color: white;
	font-weight: 300;
	position: absolute;
	padding-top: 0%;
	padding-left: 55%;
  width: 95%;
}
#intro.section .container *:not(span) {
	font-weight: 300;
	line-height: 170%;
	padding-top: 20%;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
#intro.section .underline {
	border-bottom: 5px solid #309ccd;
}
#intro.section .liz-blue {
	background-color: #309ccd;
	padding: 0 10px;
}
#portrait {
	width: 20%;
}
.waves-effect.waves-cyan .waves-ripple {
	/* The alpha value allows the text and background color
	of the button to still show through. */
 background-color: rgba(0, 188, 212, 0.65);
}
 .waves-effect.waves-indigo .waves-ripple {
 	/* The alpha value allows the text and background color
 	of the button to still show through. */
	 background-color: rgba(63, 81, 181, 0.65);
}
.waves-effect.waves-lime .waves-ripple {
 /* The alpha value allows the text and background color
 of the button to still show through. */
background-color: rgba(192, 202, 51, 0.65);
}
.card {
	margin-bottom: 60px;
  height: auto;
}
.card-grid {
  display: flex;
  flex-wrap: wrap;
}
.card.narrow {
  width: 40%;
  margin: 5%;
}
.card.narrow .card-image {
	height: 230px;
}
.card.narrow .card-content {
	height: auto;
}
#projects .card.large {
	width: 400px;
}
.card .role {
	font-size: 1.25rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card a {
	margin-right: 0;
}
.card .card-content {
	padding-bottom: 30px;
}
.card .card-content p {
	padding: 5px 0 0;
}
.card h5 {
  font-size: 1.5rem;
  margin-top: 2rem;
  text-transform: uppercase;
}
.card h6 {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.card .row {
  display: flex;
  align-items: flex-start;
}
.card .res-img {
  max-width: 40%;
  height: auto;
}
.company-logo {
  width: 20%;
  text-align: center;
}
#experience .card-action {
	background-color: rgba(0,0,0,0.02);
	border: none;
}
#experience .card .col.s12.m2 a {
  display: block;
}
#experience .card .col.s12.m2 a img {
  max-height: 60px;
}
.card-action span {
	font-size: 85%;
	color: #999;
}
.card ul {
	margin-bottom: 0;
}
.card ul li {
	line-height: 200%;
	list-style-type: disc;
	margin-left: 24px;
}
.card ul li li {
  color: #777;
  font-size: 13px;
}
.card .card-title {
	font-size: 24px;
}
.card i.right {
  margin-left: 10px;
}
a.hoverline {
	border-bottom: 3px solid transparent !important;
	padding: 3px 3px 0 3px;
	transition: .25s all;
	-moz-transition: .25s all;
	-webkit-transition: .25s all;
}
a.hoverline:hover {
	border-bottom: 3px solid #009688 !important;
}
#skills .card.large {
	height: 360px;
}
#skills h4 {
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
	padding-bottom: 20px;
}
.card.large .card-content p {
	color: inherit;
	margin: 0;
	padding: 30px 0;
}
.row-box {
  display: flex;
  justify-content: space-around;
  padding: 0 5%;
  align-items: flex-start;
  flex-wrap: wrap;
}
.row-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5%;
}
.skill {
  max-height: 100px;
  padding-bottom: 10%;
}
.card.large .card-image {
	height: 230px;
}
.card.large .card-content {
	height: auto;
}
.card.medium .card-image {
	height: 240px;
}
.card-action a.btn-floating {
	margin-bottom: 0;
}

#contact a:not(.btn-floating) {
	bottom: 6px;
	left: 20px;
	position: relative;
}
#experience .col.s12.m2 {
	text-align: center;
}
.fa-external-link:before {
  left: 3px;
  position: relative;
  top: 2px;
}
.contact-item {
  padding: 2%;
  display: flex;
  flex-direction: column;
  line-height: 3em;
  text-align: center;
  width: 20%;
  align-items: center;
}
.google-form {

}
.direction {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
@media (min-width: 1200px) {
	#experience .container {
		width: 100%;
	}
}
@media (max-width: 1360px) {
	.card ul li {
		font-size: 14px;
		line-height: 200%;
		margin-left: 20px;
	}
}
@media (max-width: 1160px) {
	.card ul li {
		line-height: 150%;
	}
	h2 {
	  font-size: 50px;
	  margin: 0px 0 0;
		padding-top: 0;
	}
	h4 {
		font-size: 35px;
	}
	#intro.section .container {
		color: white;
		font-weight: 200;
		top: 0%;
		padding-left: 5%;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	#intro.section .container *:not(span) {
		font-weight: 300;
		line-height: 150%;
		padding-top: 0%;
		text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	}
  .card.narrow .card-image {
    height: 150px;
  }
  .card .card-title {
    font-size: 20px;
  }

}
@media (max-width: 992px) {
	main {
		padding-left: 0px;
		padding-top: 64px;
	}
	h2 {
		font-size: 40px;
	}
	h4 {
		font-size: 30px;
	}
	#intro.section .container {
		color: white;
		font-weight: 200;
		top: 0%;
		padding-left: 5%;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	#intro.section .container *:not(span) {
		font-weight: 300;
		line-height: 150%;
		padding-top: 2%;
		text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	}
	ul.side-nav {
		padding-top: 5%;
	}
	ul.side-nav a {
	  line-height: 100%;
	  padding: 0;
	  width: 100%;
	}
	nav {
		background: #fff;
		height: 64px;
		position: absolute;
	}
	nav a.button-collapse,
	nav a.button-collapse i {
		color: #009688;
		height: 56px;
		line-height: 56px;
	}
	h3 {
		padding: 20px 30px;
  	margin-bottom: 40px;
	}
	.container {
		margin:  0 auto;
    padding: 0 5%;
	}

	nav.hide-on-large.only.trigger {
		display: block;
	  position: fixed;
	  top: 0;
	  z-index: 2;
	}
	.name-title {
	  display: block;
	  height: 100%;
	  padding-top: 15px;
	  text-align: center;
	  width: 100%;
    position: absolute;
	}
	.name-title > span,
	.name-title > a {
    position: relative;
    line-height: 20px;
	}
	.name-title a {
    font-size: 22px;
    display: block;
	}
	.name-title span {
    display: block;
    font-size: 14px;
	}
	h3,
	.container {
    position: relative;
    top: 64px;
	}
	section#intro {
	    margin-bottom: -64px;
	}
  .card-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card.narrow {
    width: 95%;
    margin: 5%;
  }
}
@media (max-width: 600px) {
  .direction {
    flex-wrap: wrap;
  }
  .card.narrow .card-image {
    height: 100px;
  }
	h2 {
	  font-size: 20px;
	  margin: 0px 0 0;
		padding-top: 0;
	}
	h4 {
		font-size: 20px;
	}
  h6 {
    margin-left: 10%;
  }
	.center {
		align-items: center;
	}
	#intro.section .container {
		color: white;
		font-weight: 200;
		top: 0%;
		padding-left: 5%;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	#intro.section .container *:not(span) {
		font-weight: 300;
		line-height: 150%;
		padding-top: 2%;
		text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	}
	.card .card-content .card-title {
    font-size: 18px;
    line-height: 24px;
	}
	.card .role {
    position: relative;
    right: initial;
    top: initial;
	}
	#experience span.card-title {
    text-align: center;
    display: block
	}
	#experience span.card-title a {
	   margin: 0;
	}
	i.material-icons.right {
	  position: relative;
	  bottom: 5px;
	}
	#contact a:not(.btn-floating) {
    text-align: center;
    display: block;
    left: initial;
    bottom: initial;
	}
	#contact a.btn-floating.btn-large {
	    display: block;
	    text-align: center;
	    margin: 0 auto;
	}
}

@media (max-width: 350px) {
.card .card-content .card-title {
  font-size: 15px;
  line-height: 24px;
}
}
